<div class="edit-work">
    <div class="edit-group">
    	<div class="edit-item modify">
    		<div class="icon icon-edit"></div>
    	</div>
    	<div class="edit-item padding margin-left modify">
    		<input type="text" class="full-width" placeholder="公司名称" name="input.corporateName" ng-model="input.schoolName" required>
    	</div>
    	<div class="edit-item padding margin-left modify">
    		<input type="text" class="full-width" placeholder="你的职位" name="input.position" ng-model="input.position" required>
    	</div>
    	<div class="edit-item padding margin-left modify">
    		<input type="text" class="full-width" placeholder="入职时间" name="input.entryTime" ng-model="input.entryTime" required>
    	</div>
    	<div class="edit-item padding margin-left modify">
    		<input type="text" class="full-width" placeholder="离职时间" name="input.quitTime" ng-model="input.quitTime" required>
    	</div>
    	<div class="edit-item padding margin-left modify">
    		<input type="text" class="full-width" placeholder="一句话描述你的职责" name="input.duty" ng-model="input.duty" required>
    	</div>
    </div>
    
</div>