<div class="wrap">
    <div class="input-group">
        <a class="input-item padding-xs-left padding-right" ng-href="#/choice_city">
            <div class="icon icon-location"></div>
            <div class="text-modify modify">{{input.city}}</div>
        </a>
        <a class="input-item padding-xs-left padding-right" ng-href="#/choice_language">
            <div class="icon icon-language"></div>
            <div class="text-modify modify">{{input.language.from}} <span ng-class="{'color-gray':input.language.to != ''}"> - {{input.language.to||"请选择"}}</span></div>
        </a>
        <a class="input-item padding-xs-left padding-right" ng-href="#/scenes">
            <div class="icon icon-star"></div>
            <div class="text-modify modify "><span ng-class="{'color-gray':input.scene!= ''}">{{scene.name||"使用场景"}}</span></div>
        </a>
        <a class="input-item padding-xs-left padding-right" ng-href="#/choice_time">
            <div class="icon icon-date"></div>
            <div class="text-modify modify ">6月15日<small>开始</small> - 6月16日<small>结束</small> <small>(共2天)</small></div>
        </a>
        <a class="input-item padding-xs-left padding-right" ng-href="#/related_industry">
            <div class="icon icon-industry"></div>
            <div class="text-modify modify "><span>{{input.industry||"设计行业/领域"}}</span></div>
        </a>
        <a class="input-item padding-xs-left padding-right">
            <div class="icon icon-gender"></div>
            <div class="text-modify"><span ng-class="{'highlight':input.gender=='0'}" ng-click="select_gender('0')">不限</span> &nbsp&nbsp<span ng-class="{'highlight':input.gender=='1'}" ng-click="select_gender('1')">男</span>&nbsp&nbsp <span ng-class="{'highlight':input.gender=='2'}" ng-click="select_gender('2')">女</span></div>
        </a>
    </div>
</div>
<div class="wrap">
    <div class="mind">
        <div class="mind-title">
            注意:
        </div>
        <div class="mind-content">
            <small>1.工作时间最多为8小时/天，超出工作时间的，按原1小时的150%计算;</small>
        </div>
        <div class="mind-content">
            <small>2.工作时间为9:00-18:00;非以上时间进行翻译服务，译员可线下选择价格上浮10%-50%;</small>
        </div>
        <div class="mind-content">
            <small>3.翻译人员在服务期间的交通，食宿等费用客户负责；为保证口译质量。请客户事先尽可能多的提供背景材料;</small>
        </div>
    </div>
</div>
<div class="wrap text-center">
    <a class="section" ng-href="#/interpreter_list">
        <div class="btn btn-lg btn-primary">开始预约</div>
    </a>
</div>
<div class="wrap">
    <div class="other">
        <div class="other-title text-primary">
            其他服务
        </div>
        <div class="other-content justified">
            <a class="other-item" ng-href="#/">
                <i class="icon icon-Group11"></i>
                <span class="block" ng-class="{'text-primary':active=='index'}">签证WiFi</span>
            </a>
            <a class="other-item" ng-href="#/">
                <i class="icon icon-Group12"></i>
                <span class="block" ng-class="{'text-primary':active=='index'}">包车租车</span>
            </a>
            <a class="other-item" ng-href="#/">
                <i class="icon icon-Group13" ng-class="{'active':active=='index'}"></i>
                <span class="block" ng-class="{'text-primary':active=='index'}">接送机</span>
            </a>
            <a class="other-item" ng-href="#/">
                <i class="icon icon-Group14" ng-class="{'active':active=='index'}"></i>
                <span class="block" ng-class="{'text-primary':active=='index'}">展会预订</span>
            </a>
        </div>
    </div>
</div>