<div class="wrap">
    <div class="tab justified">
        <a class="tab-item xs-width xs-padding" ng-click="sort_by_all()" ng-class="{'text-primary':input.all != '0'}">综合排序 <i class="fa" ng-class="{'fa-caret-down':input.all=='1','fa-caret-up':input.all=='2'}" aria-hidden="true"></i></a>
        <a class="tab-item xs-width xs-padding tab-modify" ng-click="sort_by_price()" ng-class="{'text-primary':input.price != '0'}">价格排序 <i class="fa" ng-class="{'fa-caret-down':input.price=='1','fa-caret-up':input.price=='2'}" aria-hidden="true"></i></a>
        <a class="tab-item xs-width xs-padding" ng-click="sort_by_comment()" ng-class="{'text-primary':input.comment != '0'}">评价排序 <i class="fa" ng-class="{'fa-caret-down':input.comment=='1','fa-caret-up':input.comment=='2'}" aria-hidden="true"></i></a>
    </div>
    <div class="interpreter-list" ng-if="qualified_count>0">
        <div class="list-center text-center">
            有{{qualified_count}}个符合您的要求
        </div>
        <div class="list-item" ng-click="go(translator.user_id)" ng-repeat="translator in qualified_translators" on-repeat-done>
            <div class="list-header border-bottom-color">
                <div class="title">
                    {{translator.nickname}}
                    <span class="pull-right"><label>{{translator.pay_day|currency:"￥"}}</label> / 天</span>
                </div>
                <div class="title">{{translator.translate_year}}年翻译经验 &nbsp&nbsp{{translator.sex}}&nbsp&nbsp&nbsp26岁</div>
            </div>
            <div class="list-content-wrap">
                <div class="list-content">
                    <div class="avatar">
                        <imageview data-rate='1' center-only src="staticImageUrl+translator.image_01"></imageview>
                    </div>
                    <div class="list-info">
                        <div class="list-info-header">
                            <span>{{translator.city}}</span>
                            <span class="modify">{{input.language.from}} - {{input.language.to}}</span>
                            <span>{{translator.translate_level}}</span>
                        </div>
                        <div class="list-info-content">
                            <span>{{translator.mother_language}}*母语</span>
                            <span class="modify">{{translator.first_language}}*{{translator.first_language_level}}</span>
                            <span>{{translator.second_language}}*{{translator.second_language_level}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn btn-primary btn-lg full-width" ng-cloak ng-click="load_qualified()" ng-if="qualified_translators.length<qualified_count">
            点击加载更多
        </div>
    </div>
    <div class="interpreter-list" ng-if="unqualified_count>0">
        <div class="list-center text-center">
            以下{{unqualified_count}}个可能符合您的要求
        </div>
        <div class="list-item" ng-click="go(translator.user_id)" ng-repeat="translator in unqualified_translators" on-repeat-done>
            <div class="list-header border-bottom-color">
                <div class="title">
                    {{translator.nickname}}
                    <span class="pull-right"><label>{{translator.pay_day|currency:"￥"}}</label> / 天</span>
                </div>
                <div class="title">{{translator.translate_year}}年翻译经验 &nbsp&nbsp{{translator.sex}}&nbsp&nbsp&nbsp26岁</div>
            </div>
            <div class="list-content-wrap">
                <div class="list-content">
                    <div class="avatar">
                        <imageview data-rate='1' center-only src="staticImageUrl+translator.image_01"></imageview>
                    </div>
                    <div class="list-info">
                        <div class="list-info-header">
                            <span>{{translator.city}}</span>
                            <span class="modify">{{input.language.from}} - {{input.language.to}}</span>
                            <span>{{translator.translate_level}}</span>
                        </div>
                        <div class="list-info-content">
                            <span>{{translator.mother_language}}*母语</span>
                            <span class="modify">{{translator.first_language}}*{{translator.first_language_level}}</span>
                            <span>{{translator.second_language}}*{{translator.second_language_level}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn btn-primary btn-lg full-width" ng-cloak ng-click="load_unqualified()" ng-if="unqualified_translators.length<qualified_count">
            点击加载更多
        </div>
    </div>
</div>
