<div class="wrap">
    <div class="detail">
        <div class="basic-info">
            <div class="detail-header modify">
                <span>基本信息</span>
                <div class="icon icon-basicinfo pull-right"></div>
            </div>
            <div class="basic-content">
                <div class="avatar-wrap text-center">
                    <div class="avatar">
                        <imageview data-rate="1" center-only src="staticImageUrl+user.image_01"></imageview>
                        <div class="icon icon-man" ng-if="user.sex=='男'"></div>
                        <div class="icon icon-nv" ng-if="user.sex=='女'"></div>
                    </div>
                </div>
                <div class="basic-content-item modify text-center">
                    <span class="font-size">{{user.nickname}}</span>
                </div>
                <div class="basic-content-item text-center">
                    <span>{{user.translate_level}} <label>.</label> {{user.translate_year}}年翻译经验</span>
                </div>
                <div class="basic-content-skill modify text-center">
                    <div class="skill text-center">
                        <span>{{user.mother_language}} <label>.</label> 母语</span>
                        <b>|</b>
                        <span>{{user.first_language}} <label>.</label> {{user.first_language_level}}</span>
                        <b>|</b>
                        <span>{{user.second_language}} <label>.</label> {{user.second_language_level}}</span>
                    </div>
                    <div class="skill text-center">
                        <div class="icon icon-person"></div>
                        {{user.city}}
                        <label>.</label> {{user.sex}}
                        <label>.</label> {{user.age}}岁
                        <label>.</label> {{user.edu}}
                    </div>
                    <div class="skill text-center">
                        <div class="icon icon-industry-basic"></div>
                        擅长领域 / 行业: {{user.good_field}}
                    </div>
                </div>
                <div class="basic-content-item text-center">
                    <span>工作意向: {{user.job_property}}</span>
                </div>
                <div class="basic-content-item text-center">
                    日薪: {{user.pay_day|currency:"￥"}}
                </div>
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="basic-info">
            <div class="detail-header modify">
                <span>教育经历</span>
                <div class="icon icon-basicedu pull-right"></div>
            </div>
            <div class="exprience-content">
                <div class="exprience-content-wrap margin-top" ng-repeat="experience in user.UserEduExperiences">
                    <div class="circle"><i class="fa fa-circle-thin" aria-hidden="true"></i></div>
                    <div class="line"></div>
                    <div class="exprience-time">
                        {{experience.end_time}}毕业
                    </div>
                    <div class="exprience-school">
                        {{experience.school_name}}
                        <div>
                            <span class="border-right padding-right">{{experience.education}}</span>
                            <span>{{experience.profession}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="basic-info">
            <div class="detail-header modify">
                <span>工作经历</span>
                <div class="icon icon-basicwork pull-right"></div>
            </div>
            <div class="exprience-content">
                <div class="exprience-content-wrap margin-top" ng-repeat="experience in user.UserWorkExperiences">
                    <div class="circle"><i class="fa fa-circle-thin" aria-hidden="true"></i></div>
                    <div class="line"></div>
                    <div class="exprience-time">{{format_time(experience.start_time,'yyyy.MM')}}-{{format_time(experience.end_time,'yyyy.MM')}}</div>
                    <div class="exprience-company">
                        {{experience.position}}
                        <label>|</label>
                        {{experience.work_name}}
                    </div>
                    <div class="duty">{{experience.duty}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="basic-info">
            <div class="detail-header modify">
                <span>语言能力及证书</span>
                <!-- <label class="font-color">(官方认证)</label> -->
                <div class="icon icon-basicdiploma pull-right"></div>
            </div>
            <div class="exprience-content">
                <div class="exprience-content-wrap">
                    <div class="diploma" ng-repeat="experience in user.UserIdentitys">
                        {{experience.title}}
                        <a class="pull-right font-color">{{format_time(experience.get_time,'yyyy年MM月')}}获得</a>
                        <div class="modify-color" ng-if="experience.status == '0'"><span>(待审核)</span></div>
                        <div class="modify-color" ng-if="experience.status == '1'"><span>(审核通过)</span></div>
                        <div class="modify-color" ng-if="experience.status == '2'"><span>(重新认证)</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="basic-info">
            <a class="detail-header" ng-href="#/schedule_preview?id={{user.user_id}}">
                <span>可预约日期</span>
                <div class="icon icon-basicdate pull-right"></div>
            </a>
        </div>
    </div>
    
</div>