<div class="choice-time">
    <div class="time-header">
        <div class="time-title text-center"></div>
        <div class="week justified">
            <div class="week-item">日</div>
            <div class="week-item">一</div>
            <div class="week-item">二</div>
            <div class="week-item">三</div>
            <div class="week-item">四</div>
            <div class="week-item">五</div>
            <div class="week-item">六</div>
        </div>
    </div>
    <div class="time-container" ng-repeat="schedule in schedules">
        <div class="container-title text-center">{{schedule.schedule_month}}</div>
        <div class="day-wrap">
            <div class="col-ms-7 pull-left" ng-class="append_class(day,$index)" ng-repeat="day in schedule.scheduleBeans">
                <div class="day" ng-click="active(day)">
                    <div class="day-item text-center" ng-class="{'border-color':day.schedule_state == '1','busy':day.schedule_state == '2','background-color':day.schedule_state == '3','highlight':day.schedule_state == '4'|| day==input.day}">{{parse_time(day)}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
