<div class="edit-certificate">
    <div class="edit-group">
        <div class="edit-item modify">
            <div class="icon icon-edit"></div>
        </div>
        <div class="edit-item padding margin-left modify">
            <input type="text" class="full-width" placeholder="证书名称" name="input.certificate" ng-model="input.certificate" required>
        </div>
        <div class="edit-item padding margin-left modify">
            <input type="text" class="full-width" placeholder="证书获取时间" name="input.certificatetime" ng-model="input.certificatetime" required>
        </div>
    </div>
    <div class="edit-container">
        <div class="col-ms-3 pull-left">
            <div class="img-wrap">
                <imageview data-rate='1' center-only src="'../images/1.png'"></imageview>
            </div>
        </div>

    </div>
</div>
<div class="wrap text-center">
    <a class="section" ng-href="#/information">
        <div class="btn btn-lg btn-primary">保存</div>
    </a>
</div>

