<div class="edit-edu">
    <div class="edit-group">
    	<div class="edit-item modify">
    		<div class="icon icon-edit"></div>
    	</div>
    	<div class="edit-item padding margin-left modify">
    		<input type="text" class="full-width" placeholder="学校名称" name="input.schoolName" ng-model="input.schoolName" required>
    	</div>
    	<div class="edit-item padding margin-left modify">
    		<input type="text" class="full-width" placeholder="所学专业" name="input.specialty" ng-model="input.specialty" required>
    	</div>
    	<div class="edit-item padding margin-left modify">
    		<input type="text" class="full-width" placeholder="毕业年份" name="input.graduationTime" ng-model="input.graduationTime" required>
    	</div>
    	<div class="edit-item padding margin-left modify">
    		<input type="text" class="full-width" placeholder="学历" name="input.edu" ng-model="input.edu" required>
    	</div>
    </div>
    
</div>
<div class="wrap text-center">
    <a class="section" ng-href="#/information">
        <div class="btn btn-lg btn-primary">保存</div>
    </a>
</div>