<div class="wrap">
    <div class="section">
        <div class="avatar-wrap text-center justified">
            <div class="avatar">
                <uploader flow-init='{singleFile:true}' flow-name="input.flow" flow-file-success="update_avatar()" flow-btn data-rate="1" src="{{user.image_01}}" class="full-width full-height block"></uploader>
                <div class="icon icon-man" ng-if="user.sex=='男'"></div>
                <div class="icon icon-nv" ng-if="user.sex=='女'"></div>
            </div>
            <div class="avatar-info text-center">更换头像</div>
        </div>
    </div>
    <div class="edit-basic border-radius margin-bottom">
        <div class="edit-content">
            <a class="edit-title" ng-href="#/edit_basic_info">
                基本信息
                <span class="pull-right">编辑</span>
                <div class="icon icon-infohead pull-right"></div>
            </a>
            <div class="edit-list">
                姓 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp名: <span ng-class="{'color-gray':user.nickname ==''}">{{user.nickname || "暂无填写"}}</span>
            </div>
            <div class="edit-list">
                性 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp别:
                <span ng-class="{'color-gray':user.sex==''}">{{user.sex|| "暂无填写"}}</span>
            </div>
            <div class="edit-list">
                最高学历: <span ng-class="{'color-gray':user.edu ==''}">{{user.edu || "暂无填写"}}</span>
            </div>
            <a class="edit-list">
                出生年月: <span ng-class="{'color-gray':user.birthday==''}">{{user.birthday || "暂无填写"}}</span>
            </a>
            <a class="edit-list">
                所在城市: <span ng-class="{'color-gray':user.city==''}">{{user.city||"暂无填写"}}</span>
            </a>
            <div class="edit-list">
                联系电话:
                <span ng-class="{'color-gray':user.telephone==''}">{{user.telephone || "暂无填写"}}</span>
            </div>
            <div class="edit-list">
                联系邮箱:
                <span ng-class="{'color-gray':user.email==''}">{{user.email || "暂无填写"}}</span>
                
            </div>
            <div class="edit-list">
                工作类型: <span ng-class="{'color-gray':user.job_type==''}">{{user.job_type || "暂无填写"}}</span>
            </div>
            <div class="edit-list">
                工作意向:<span ng-class="{'color-gray':user.job_property==''}">{{user.job_property || "暂无填写"}}</span>
            </div>
            <a class="edit-list">
                母&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp语: <span ng-class="{'color-gray':user.mother_language==''}">{{user.mother_language || "暂无填写"}}</span>
            </a>
            <div class="edit-list">
                第一外语:
                <span ng-class="{'color-gray':user.first_language==''}">{{user.first_language || "暂无填写"}}</span>
                <span>|</span>
                <span ng-class="{'color-gray':user.first_language_level==''}">{{user.first_language_level || "暂无填写"}}</span>
            </div>
            <div class="edit-list">
                第二外语:
                <span ng-class="{'color-gray':user.second_language==''}">{{user.second_language || "暂无填写"}}</span>
                <span>|</span>
                <span ng-class="{'color-gray':user.second_language_level==''}">{{user.second_language_level || "暂无填写"}}</span>
            </div>
            <a class="edit-list">
                擅长行业/领域: <span ng-class="{'color-gray':user.good_field==''}">{{user.good_field || "暂无填写"}}</span>
            </a>
            <div class="edit-list">
                翻译经验年限: {{user.translate_year || "0"}}年
                
            </div>
            <a class="edit-list">
                翻译级别: <span ng-class="{'color-gray':user.translate_level==''}">{{user.translate_level || "暂无填写"}}</span>
            </a>
            <div class="edit-list">
                日&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp薪: {{user.pay_day || "0" |currency:"￥"}}
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="basic-info">
            <a class="detail-header modify" ng-href="#/edit_edu_exprience">
                <span>教育经历</span>
                <span class="pull-right">新增</span>
                <div class="icon icon-basicedu pull-right"></div>
            </a>
            <div class="exprience-content">
                <div class="exprience-content-wrap margin-top" ng-repeat="experience in user.UserEduExperiences">
                    <div class="circle"><i class="fa fa-circle-thin" aria-hidden="true"></i></div>
                    <div class="line"></div>
                    <div class="exprience-time">
                        {{experience.end_time}}毕业
                        <a class="pull-right text-primary" ng-href="#/edit_edu_exprience?id={{experience.user_edu_experience_id}}">编辑</a>
                    </div>
                    <div class="exprience-school">
                        {{experience.school_name}}
                        <div>
                            <span class="border-right padding-right">{{experience.education}}</span>
                            <span>{{experience.profession}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="basic-info">
            <a class="detail-header modify" ng-href="#/edit_work_exprience">
                <span>工作经历</span>
                <span class="pull-right">新增</span>
                <div class="icon icon-basicwork pull-right"></div>
            </a>
            <div class="exprience-content">
                <div class="exprience-content-wrap margin-top" ng-repeat="experience in user.UserWorkExperiences">
                    <div class="circle"><i class="fa fa-circle-thin" aria-hidden="true"></i></div>
                    <div class="line"></div>
                    <div class="exprience-time">{{format_time(experience.start_time,'yyyy.MM')}}-{{format_time(experience.end_time,'yyyy.MM')}}
                        <a class="pull-right text-primary" ng-href="#/edit_work_exprience?id={{experience.user_work_experience_id}}">编辑</a></div>
                    <div class="exprience-company">
                        {{experience.position}}
                        <label>|</label>
                        {{experience.work_name}}
                    </div>
                    <div class="duty">{{experience.duty}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="basic-info">
            <a class="detail-header modify" ng-href="#/certificate">
                <span>语言能力及证书</span>
                <span class="pull-right">新增</span>
                <!-- <label class="font-color">(官方认证)</label> -->
                <div class="icon icon-basicdiploma pull-right"></div>
            </a>
            <div class="exprience-content">
                <div class="exprience-content-wrap">
                    <div class="diploma" ng-repeat="experience in user.UserIdentitys">
                        {{experience.title}}
                        <a class="pull-right text-primary" ng-href="#/certificate?id={{experience.user_identity_id}}">编辑</a>
                        <a class="pull-right font-color">{{format_time(experience.get_time,'yyyy年MM月')}}获得</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="basic-info">
            <a class="detail-header" ng-href="#/schedule?id={{user.user_id}}">
                <span>可预约日期</span>
                <span class="pull-right">编辑</span>
                <div class="icon icon-infobooking pull-right"></div>
            </a>
        </div>
    </div>
</div>
<div class="detail">
    <a class="basic-backgroup" ng-href="#/online_preview?id={{user.user_id}}">
        <div class="btn btn-block btn-primary">在线预览</div>
    </a>
</div>
