<div class="review">
    <div class="review-item">
        <div class="review-header modify">
            <div class="review-avatar">
                <img src="../images/avatar.png" class="full-width full-height">
            </div>
            <div class="review-info">曹禹</div>
        </div>
    </div>
    <div class="review-item text-center">
        请为译员打分
    </div>
    <div class="review-item text-center">
        <div class="icon icon-reviewstar"></div>
        <div class="icon icon-reviewstar"></div>
        <div class="icon icon-reviewstar"></div>
        <div class="icon icon-reviewstar"></div>
        <div class="icon icon-reviewstar"></div>
    </div>
    <div class="review-item">
        <div class="textarea">
            <textarea placeholder="请写出您对译员的评价吧~"></textarea>
            <div class="tip">至少输入8个字</div>
        </div>
    </div>
    <div class="review-item">
        <div class="review-skill margin-bottom">
            语言能力
            <span class="pull-right"><div class="icon icon-reviewbuzan"></div> 踩</span>
            <span class="pull-right margin-right"><div class="icon icon-reviewzan"></div> 赞</span>
        </div>
        <div class="review-skill margin-bottom">
            专业水平
            <span class="pull-right"><div class="icon icon-reviewbuzan"></div> 踩</span>
            <span class="pull-right margin-right"><div class="icon icon-reviewzan"></div> 赞</span>
        </div>
        <div class="review-skill">
            服务态度
            <span class="pull-right"><div class="icon icon-reviewbuzan"></div> 踩</span>
            <span class="pull-right margin-right"><div class="icon icon-reviewzan"></div> 赞</span>
        </div>
    </div>
</div>