<pagetitle title="'请选择译员级别'"></pagetitle>
<div class="level">
    <div class="level-group">
        <div class="level-title" ng-click="check('一般级别')">
            <i class="fa" ng-class="{'fa-check-square':input.translate_level == '一般级别','fa-square-o':input.translate_level != '一般级别'}" aria-hidden="true"></i> 一般级别
        </div>
        <div class="level-content">
            <i class="fa fa-circle" aria-hidden="true"></i>
            译员表达流畅，语意通顺，基本能够完整表达原意。
        </div>
        <div class="level-content">
            <i class="fa fa-circle" aria-hidden="true"></i>
            适用场景：一般活动、旅游陪同、普通贸易展会，翻译一般性资料、满足阅读参考及基本沟通目的。
        </div>
        <div class="level-content">
            <i class="fa fa-circle" aria-hidden="true"></i>
            翻译经验：外语流利，1-3年翻译经验，基本交流。
        </div>
        <div class="level-content" ng-if="price.average_pay_day>0">
            <i class="fa fa-circle" aria-hidden="true"></i>
            平均价:人民币 {{price.average_pay_day}} 元 / 天起
        </div>
    </div>
    <div class="level-group">
        <div class="level-title" ng-click="check('商务级别')">
            <i class="fa" ng-class="{'fa-check-square':input.translate_level == '商务级别','fa-square-o':input.translate_level != '商务级别'}" aria-hidden="true"></i> 商务级别
        </div>
        <div class="level-content">
            <i class="fa fa-circle" aria-hidden="true"></i>
            译员表达语义正确无误，并能根据行业领域和当地文化使用适当术语和词汇润色。
        </div>
        <div class="level-content">
            <i class="fa fa-circle" aria-hidden="true"></i>
            适用场景：商务谈判、会议、技术交流、专业或技术型展会，翻译偏专业性资料，例如用户指南、技术手册、宣传页等。
        </div>
        <div class="level-content">
            <i class="fa fa-circle" aria-hidden="true"></i>
            翻译经验：高等外语教育、3-7年翻译经验、高水准语言能力。
        </div>
        <div class="level-content" ng-if="price.average_pay_day_02>0">
            <i class="fa fa-circle" aria-hidden="true"></i>
            平均价:人民币{{price.average_pay_day_02}} 元 / 天起
        </div>
    </div>
    <div class="level-group addon">
        <div class="level-title" ng-click="check('专家级别')">
            <i class="fa" ng-class="{'fa-check-square':input.translate_level == '专家级别','fa-square-o':input.translate_level != '专家级别'}" aria-hidden="true"></i> 专家级别
        </div>
        <div class="level-content">
            <i class="fa fa-circle" aria-hidden="true"></i>
            资深译员或行业专家，翻译精准，表达优美流畅。
        </div>
        <div class="level-content">
            <i class="fa fa-circle" aria-hidden="true"></i>
            适用场景：新闻发布会，大型国际会议同传，重要商业展会会议，学术技术研讨会等，翻译专业资料、合同、标书，满足出版等需求。
        </div>
        <div class="level-content">
            <i class="fa fa-circle" aria-hidden="true"></i>
            翻译经验：外语或翻译专业，8年及以上翻译经验，深厚的专业知识，有充分准备则能胜任绝大部分领域的翻译。
        </div>
        <div class="level-content" ng-if="price.average_pay_day_03>0">
            <i class="fa fa-circle" aria-hidden="true"></i>
            平均价:人民币{{price.average_pay_day_03}} 元 / 天起
        </div>
    </div>
</div>