<div class="wrap">
    <div class="tab justified">
        <a class="tab-item xs-width xs-padding">综合排序<div class="icon icon-xiala"></div></a>
        <a class="tab-item xs-width xs-padding tab-modify">价格排序<div class="icon icon-xiala"></div></a>
        <a class="tab-item xs-width xs-padding">评价排序<div class="icon icon-xiala"></div></a>
    </div>
    <div class="interpreter-list">
        <div class="list-center text-center">
            有10个符合您的要求
        </div>
        <div class="list-item">
            <div class="list-header">
                <div class="title">
                    耗子
                    <span class="pull-right"><label>￥300</label> / 天</span>
                </div>
                <div class="title">2年翻译经验 &nbsp&nbsp男&nbsp&nbsp&nbsp26岁</div>
            </div>
            <div class="list-content-wrap">
                <div class="list-content">
                    <div class="avatar">
                        <img src="../images/avatar.png" class="full-width full-height">
                    </div>
                    <div class="list-info">
                        <div class="list-info-header">
                            <span>东京</span>
                            <span class="modify">中文 - 日语</span>
                            <span>专家级别</span>
                        </div>
                        <div class="list-info-content">
                            <span>中文*母语</span>
                            <span class="modify">英文*专业</span>
                            <span>德语*专业</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-center text-center">
            以下3个可能符合您的要求
        </div>
        <div class="list-item">
            <div class="list-header">
                <div class="title">
                    耗子
                    <span class="pull-right"><label>￥300</label> / 天</span>
                </div>
                <div class="title">2年翻译经验 &nbsp&nbsp男&nbsp&nbsp&nbsp26岁</div>
            </div>
            <div class="list-content-wrap">
                <div class="list-content">
                    <div class="avatar">
                        <img src="../images/avatar.png" class="full-width full-height">
                    </div>
                    <div class="list-info">
                        <div class="list-info-header">
                            <span>东京</span>
                            <span class="modify">中文 - 日语</span>
                            <span>专家级别</span>
                        </div>
                        <div class="list-info-content">
                            <span>中文*母语</span>
                            <span class="modify">英文*专业</span>
                            <span>德语*专业</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>