<div class="level">
    <div class="level-group">
        <div class="level-title" ng-click="check('1')">
            <i class="fa" ng-class="{'fa-check-square':input.check == '1','fa-square-o':input.check != '1'}" aria-hidden="true"></i> 一般级别
        </div>
        <div class="level-content">
            <div class="icon icon-correct"></div>
            译员表达流畅，语意通顺，基本能够完整表达原意;
        </div>
        <div class="level-content">
            <div class="icon icon-correct"></div>
            适用场景:一般活动、旅游、普通贸易展会，翻译一般写资料、满足阅读参考目的;
        </div>
        <div class="level-content">
            <div class="icon icon-correct"></div>
            翻译经验:外语流利，1-2年翻译经验，基本交流;
        </div>
        <div class="level-content">
            <div class="icon icon-correct2"></div>
            <input level="text"> 元 / 天起
        </div>
    </div>
    <div class="level-group">
        <div class="level-title" ng-click="check('2')">
            <i class="fa" ng-class="{'fa-check-square':input.check == '2','fa-square-o':input.check != '2'}" aria-hidden="true"></i> 商务级别
        </div>
        <div class="level-content">
            <div class="icon icon-correct"></div>
            译员表达流畅，语意通顺，基本能够完整表达原意;
        </div>
        <div class="level-content">
            <div class="icon icon-correct"></div>
            适用场景:一般活动、旅游、普通贸易展会，翻译一般写资料、满足阅读参考目的;
        </div>
        <div class="level-content">
            <div class="icon icon-correct"></div>
            翻译经验:外语流利，1-2年翻译经验，基本交流;
        </div>
        <div class="level-content">
            <div class="icon icon-correct2"></div>
            <input level="text"> 元 / 天起
        </div>
    </div>
    <div class="level-group addon">
        <div class="level-title" ng-click="check('3')">
            <i class="fa" ng-class="{'fa-check-square':input.check == '3','fa-square-o':input.check != '3'}" aria-hidden="true"></i> 专家级别
        </div>
        <div class="level-content">
            <div class="icon icon-correct"></div>
            译员表达流畅，语意通顺，基本能够完整表达原意;
        </div>
        <div class="level-content">
            <div class="icon icon-correct"></div>
            适用场景:一般活动、旅游、普通贸易展会，翻译一般写资料、满足阅读参考目的;
        </div>
        <div class="level-content">
            <div class="icon icon-correct"></div>
            翻译经验:外语流利，1-2年翻译经验，基本交流;
        </div>
        <div class="level-content">
            <div class="icon icon-correct2"></div>
            <input level="text"> 元 / 天起
        </div>
    </div>
    <div class="section text-center">
        <span class="btn btn-block btn-primary">保存</span>
    </div>
</div>