<div class="wrap">
    <div class="tab">
        <div class="col-ms-3 text-left pull-left"><a class="tab-item">综合排序<div class="icon icon-xiala"></div></a></div>
        <div class="col-ms-3 text-center pull-left"><a class="tab-item tab-modify">综合排序<div class="icon icon-xiala"></div></a></div>
        <div class="col-ms-3 text-right pull-right"><a class="tab-item">综合排序<div class="icon icon-xiala"></div></a></div>
    </div>
    <div class="interpreter-list">
        <div class="list-center text-center">
            有10个符合您的要求
        </div>
        <div class="list-item">
            <div class="list-header">
                <div class="title">
                    耗子
                    <span class="pull-right"><label>￥300</label> / 天</span>
                </div>
                <div class="title">2年翻译经验 &nbsp&nbsp男&nbsp&nbsp&nbsp26岁</div>
            </div>
            <div class="list-content-wrap">
                <div class="list-content">
                    <div class="avatar">
                        <img src="../images/avatar.png" class="full-width full-height">
                    </div>
                    <div class="list-info">
                        <div class="list-info-header">
                            <span>东京</span>
                        </div>
                        <div class="list-info-content">
                            <span>中文*母语</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>