<div class="wrap">
    <div class="detail">
        <div class="basic-info">
            <div class="detail-header modify">
                <span>基本信息</span>
                <div class="icon icon-basicinfo pull-right"></div>
            </div>
            <div class="basic-content">
                <div class="avatar-wrap text-center">
                    <div class="avatar">
                        <img src="../images/avatar.png" class="full-width full-height">
                        <div class="icon icon-man"></div>
                    </div>
                </div>
                <div class="basic-content-item modify text-center">
                    <span class="font-size">曹禹</span>
                </div>
                <div class="basic-content-item text-center">
                    <span>专家级别 <label>.</label> 10年翻译经验</span>
                </div>
                <div class="basic-content-skill modify text-center">
                    <div class="skill text-center">
                        <span>中文 <label>.</label> 母语</span>
                        <b>|</b>
                        <span>英文 <label>.</label> 专业</span>
                        <b>|</b>
                        <span>法语 <label>.</label> 专业</span>
                    </div>
                    <div class="skill text-center">
                        <div class="icon icon-person"></div>
                        上海
                        <label>.</label> 男
                        <label>.</label> 24岁
                        <label>.</label> 本科
                    </div>
                    <div class="skill text-center">
                        <div class="icon icon-industry-basic"></div>
                        擅长领域 / 行业: 建筑、旅游、美容等
                    </div>
                </div>
                <div class="basic-content-item text-center">
                    <span>工作意向: 兼职任务</span>
                </div>
                <div class="basic-content-item text-center">
                    日薪: ￥400
                </div>
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="basic-info">
            <div class="detail-header modify">
                <span>教育经历</span>
                <div class="icon icon-basicedu pull-right"></div>
            </div>
            <div class="exprience-content">
                <div class="exprience-content-wrap margin-top">
                    <div class="circle"><i class="fa fa-circle-thin" aria-hidden="true"></i></div>
                    <div class="line"></div>
                    <div class="exprience-time">2015.07-至今</div>
                    <div class="exprience-school">
                        香港理工大学
                        <span class="pull-right">销售管理</span>
                        <span class="pull-right border-right">本科</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="basic-info">
            <div class="detail-header modify">
                <span>工作经历</span>
                <div class="icon icon-basicwork pull-right"></div>
            </div>
            <div class="exprience-content">
                <div class="exprience-content-wrap margin-top">
                    <div class="circle"><i class="fa fa-circle-thin" aria-hidden="true"></i></div>
                    <div class="line"></div>
                    <div class="exprience-time">2015.07-至今</div>
                    <div class="exprience-company">
                        悠译创办人
                        <label>|</label>
                        悠译(深圳)科技有限公司
                    </div>
                    <div class="duty">表现良好，项目按时完成</div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="basic-info">
            <div class="detail-header modify">
                <span>语言能力及证书</span>
                <label class="font-color">(官方认证)</label>
                <div class="icon icon-basicdiploma pull-right"></div>
            </div>
            <div class="exprience-content">
                <div class="exprience-content-wrap">
                    <div class="diploma">
                        最厉害的英语翻译 

                        <span class="pull-right font-color">2012年10月获得</span>

                        <div class="modify-color"><span>(审核通过)</span></div>
                    </div>
                    <div class="diploma">
                        最厉害的英语翻译
                        <span class="pull-right font-color">2012年10月获得</span>
                        <div class=""><span>(审核中)</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="basic-info">
            <div class="detail-header">
                <span>可预约日期</span>
                <div class="icon icon-basicdate pull-right"></div>
            </div>
        </div>
    </div>
    
</div>