.icon {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    &.icon-home {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: relative;
        top: 0;
        left: -2px;
        background-image: url("../images/icon_yueren.png");
        background-repeat: no-repeat;
        background-size: 55%;
        background-position: center center;
        &.active {
            background-image: url("../images/icon_yueren_h.png");
        }
    }
    &.icon-location {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        left: 5px;
        background-image: url("../images/location.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center center;
        // &.active {
        //     background-image: url("../images/icon_yueren_h.png");
        // }
    }
    &.icon-language {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 8px;
        left: 5px;
        background-image: url("../images/language.png");
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center center;
        // &.active {
        //     background-image: url("../images/icon_yueren_h.png");
        // }
    }
    &.icon-star {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        left: 5px;
        background-image: url("../images/star.png");
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center center;
        // &.active {
        //     background-image: url("../images/icon_yueren_h.png");
        // }
    }
    &.icon-date {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        left: 5px;
        background-image: url("../images/date.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center center;
        // &.active {
        //     background-image: url("../images/icon_yueren_h.png");
        // }
    }
    &.icon-industry {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        left: 5px;
        background-image: url("../images/industry.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center center;
        // &.active {
        //     background-image: url("../images/icon_yueren_h.png");
        // }
    }
    &.icon-gender {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        left: 5px;
        background-image: url("../images/gender.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center center;
        // &.active {
        //     background-image: url("../images/icon_yueren_h.png");
        // }
    }
    &.icon-Group11 {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 5px;
        background-image: url("../images/Group11.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        // &.active {
        //     background-image: url("../images/icon_yueren_h.png");
        // }
    }
    &.icon-Group12 {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 5px;
        background-image: url("../images/Group12.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        // &.active {
        //     background-image: url("../images/icon_yueren_h.png");
        // }
    }
    &.icon-Group13 {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 5px;
        background-image: url("../images/Group13.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        // &.active {
        //     background-image: url("../images/icon_yueren_h.png");
        // }
    }
    &.icon-Group14 {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 5px;
        background-image: url("../images/Group14.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        // &.active {
        //     background-image: url("../images/icon_yueren_h.png");
        // }
    }
    &.icon-correct {
        display: inline-block;
        width: 25px;
        height: 25px;
        position: absolute;
        top: -5px;
        left: 20px;
        margin-bottom: 5px;
        background-image: url("../images/correct.png");
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: center center;
        // &.active {
        //     background-image: url("../images/icon_yueren_h.png");
        // }
    }
    &.icon-correct2 {
        display: inline-block;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 0;
        left: 20px;
        margin-bottom: 5px;
        background-image: url("../images/correct.png");
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: center center;
        // &.active {
        //     background-image: url("../images/icon_yueren_h.png");
        // }
    }
    &.icon-xiala {
        display: inline-block;
        width: 15px;
        height: 25px;
        position: relative;
        top: 0;
        left: 0;
        background-image: url("../images/xiala.png");
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center center;
        // &.active {
        //     background-image: url("../images/icon_yueren_h.png");
        // }
    }
     &.icon-content {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        left: 5px;
        background-image: url("../images/content.png");
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center center;
        // &.active {
        //     background-image: url("../images/icon_yueren_h.png");
        // }
    }
}